# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor configs
.idea/
.vscode/ 